/*navigattion section */
#navbar{
    flex-direction: column;
}
#navbar ul li a{

    font-size: 1rem;
    padding: 0px 8px;
    padding-bottom: 6px;
}


/*Home section */

#home{
    height: 300px;
    padding: 2px 52px;
    position: relative;
   
   
}
#home::before{
    position: absolute;
   
   
}
#home p{
    font-size: 10px;
}


/*Services section */
#services{
    flex-direction: column;
}
#services .box{
    padding: 14px;
    margin: 2px 0px;
    margin-bottom: 18px;

}
#clients{
    flex-wrap: wrap;
}
#clients img{
    width: 60px;
    height: auto;
    
}
.h-primary{
    font-size: 23px;
}
.btn{
    font-size: 12px;
    padding: 4px 9px;
}